.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__img{
    display: inline;
    border-radius: 20%;
    width: 10rem;
    height: 6rem;
}

.hero__subtitle {
    color: var(--clr-slate800);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero__title{
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__desc{
    max-width: 80ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.hero__btn{
    text-transform: capitalize;
    font-size: var(--size-sm);
}

/*xs*/
@media (min-width: 475px) {
    .hero{
       gap: 1.5rem;
       
    }
    .hero__img{

        width: 12rem;
        height: 8rem;
    }
    
    .hero__subtitle {
        
        font-size: var(--size-lg);
    }
    
    .hero__title{

        font-size: var(--size-5xl);
        
    }
    
    .hero__desc{
        
        font-size: var(--size-bsse);
        
    }
    
    .hero__btn{
        
        font-size: var(--size-base);
    }
} /*xs*/



/* @media (min-width: 640px) {}sm */
/* @media (min-width: 768px) {}md */
/*lg*/
@media (min-width: 1024px) {

     .hero__img{
         width: 16rem;
         height: 9.6rem;
     }
     
     .hero__subtitle {
         font-size: var(--size-2xl);
     }
     
     .hero__title{
         font-size: var(--size-7xl);
     }
     
     .hero__desc{
         font-size: var(--size-lg);
     }
     
     .hero__btn{
         font-size: var(--size-lg);
     }
}
/*lg*/

/*xl*/
@media (min-width: 1288px) {
    .hero{
        gap: 2rem;
    }
    .hero__img{
        width: 20rem;
        height: 12rem;
    }
    
    .hero__subtitle {
        font-size: var(--size-4xl);
    }
    
    .hero__title{
        font-size: var(--size-9xl);
    }
    
    .hero__desc{
        font-size: var(--size-xl);
    }
    
    .hero__btn{
        font-size: var(--size-xl);
    }
}
/*xl*/
/* @media (min-width: 1536px) {} 2xl */