.practice-area{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.practice-area-title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--clr-dark);
}