.team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-slate300);
    border-radius: 10%;
    
    gap: 1rem;
}

.team-member-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}

.team-member-name {
    font-size: var(--size-2xl);
    color: var(--clr-slate400);
}

.team-member-data-par {
    max-width: 60cb;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

@media (min-width: 475px) {
    .team-member-pic {
        padding: 2rem;
        width: 28rem;
    }
}

/*xs*/
/* @media (min-width: 640px) {}sm */
/* @media (min-width: 768px) {}md */
/*lg*/
@media (min-width: 1024px) {
    .team-card {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    .team-member-name {
        font-size: var(--size-4xl);
        color: var(--clr-slate400);
    }

    .team-member-data-par {
        max-width: 60cb;
        font-size: var(--size-xl);
        color: var(--clr-slate600);
    }

    .team-member-data {
        display: flex;
        gap: 1rem;
    }

    .team-member-pic {
        width: 40rem;
        padding: 2rem;
    }
}

/*lg*/
/* @media (min-width: 1288px) {}xl */
/* @media (min-width: 1536px) {} 2xl */