.hero{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-top: 0.5rem;
    width: 100%;
}

.hero__img{
    width: 10rem;
    height: 6rem;
}

.hero__subtitle {
    text-transform: uppercase;
    color: var(--clr-blue);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero__title{
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero__desc{
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.hero-details-section{
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    max-width: 600px;
    margin-left: 1rem;
    margin-right: 1rem;
    background: url(../img/stange-laws.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__btn{
    text-transform: capitalize;
    font-size: var(--size-sm);
}


/* .home-practice-area{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
} */

.home-practice-area-title{
    display: flex;
    justify-content: center;
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--size-2xl);
    padding: 1rem;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: var(--clr-light);
    width: 20em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    color: var(--clr-gold);
    font-size: 6em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3{
   color: var(--clr-blue);
   font-size: 1.2em;
   font-weight: 700;
   margin: 10px;
}


/*below*/
@media (min-width: 250px) {
    .hero{
        gap: 0.5rem;
     }
     .hero__img{
         width: 10rem;
         height: 6rem;
     }
     
     .hero__subtitle {
         font-size: var(--size-base);
     }
     
     .hero__title{
         font-size: var(--size-2xl);
     }
     
     .hero__desc{
         font-size: var(--size-sm);
     }

     .home-practice-area-title{
        display: flex;
        justify-content: center;
        color: var(--clr-slate400);
        text-transform: uppercase;
        font-size: var(--size-base);
        padding: 1rem;
    }

    .card{
        background-color: var(--clr-light);
        width: 20em;
        box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
        border-radius: 10px;
        padding: 25px;
        margin: 15px;
        transition: 0.7s ease;
    }

    .icon{
        color: var(--clr-gold);
        font-size: 2em;
        text-align: center;
    }
    
    .info{
        text-align: center;
    }
    
    .info h3{
       color: var(--clr-blue);
       font-size:0.8em;
       font-weight: 700;
       margin: 10px;
    }

    .info p, .info li{
        font-size: 0.5em;
    }

    


}

/*xs*/
@media (min-width: 475px) {
    .hero{
       gap: 0.5rem;
    }
    .hero__img{
        width: 12rem;
        height: 8rem;
    }
    
    .hero__subtitle {
        font-size: var(--size-lg);
    }
    
    .hero__title{
        font-size: var(--size-5xl);
    }
    
    .hero__desc{
        font-size: var(--size-bsse);
    }
    
    .hero__btn{
        font-size: var(--size-base);
    }


} /*xs*/



/* @media (min-width: 640px) {}sm */
/* @media (min-width: 768px) {}md */
/*lg*/
@media (min-width: 1024px) {

     .hero__img{
         width: 16rem;
         height: 9.6rem;
     }
     
     .hero__subtitle {
         font-size: var(--size-2xl);
     }
     
     .hero__title{
         font-size: var(--size-7xl);
     }
     
     .hero__desc{
         font-size: var(--size-lg);
     }
     

}
/*lg*/

/*xl*/
@media (min-width: 1288px) {
    .hero{
        gap: 2rem;
    }
    .hero__img{
        width: 20rem;
        height: 12rem;
    }
    
    .hero__subtitle {
        font-size: var(--size-4xl);
    }
    
    .hero__title{
        font-size: var(--size-9xl);
    }
    
    .hero__desc{
        font-size: var(--size-xl);
    }
    
}
/*xl*/
/* @media (min-width: 1536px) {} 2xl */

