/*css variables*/
:root{
    /*main colors*/
    --clr-dark: #070a13;
    --clr-light: #f1f5f9;
    --clr-slate300:#cbd5e1;
    --clr-slate400 : #94a3b8;
    --clr-slate600 : #475569;
    --clr-slate800 : #1e293b;
    /*rose rgb 225 29 72*/
    /*indigo rgb 79 70 229*/
    --clr-indego : #4f46e5;
    --clr-blue: #1e40af; /*blue 800*/
    --clr-gold : #C99C39; /*amber 500*/

    /*sizes*/
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

.light-mode{
    --clr-light: #070a13;
    --clr-dark: #f1f5f9;
    --clr-slate400 : #1e293b;
    --clr-slate600 : #1e293b;
    --clr-slate800 : #1e293b;
}
/* End of css variables*/





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: var(--clr-blue);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    top: 0;
}

body {
    /*font from font share website*/
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-light);
    color: var(--clr-dark);
}

footer {
    background-color: var(--clr-slate800);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button{
    display: inline-block;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    color: inherit;
}

strong {
    color: var(--clr-indego);
}

.navigaton-item-home{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
    color: var(--clr-light);
    margin-left: 2rem;
}

.active{
    color: var(--clr-gold);
}

.navigaton-item-home:hover{
    color: var(--clr-gold);
}

.logo{
    width: 100px;
}

.footer-box {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    margin-top: 4rem;
    margin-inline-start: 4rem;
    margin-inline-end: 4rem;
}

.footer-area-top {
    padding-top: 4px;
    padding-bottom: 4px;
}

.footer_icon {
    margin-top: 0;
}

.title-bar-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--clr-dark);
}

.footer-area-bottom {
    color: var(--clr-light);
}

.corporate-address {
    margin-bottom: 20px;
}

.corporate-address li {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    color: #f5f5f5;
    position: relative;
    padding-left: 38px;
    justify-content: center;
}

.corporate-address li i {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    font-size: 14px;
    height: 28px;
    width: 28px;
    background: #464e62;
    line-height: 28px;
    background: #03a9f4;
}

.corporate-address li p {
    color: #d1d2d4;
    font-weight: 300;
}

.corporate-address li:last-child {
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose);
    color: var(--clr-lighr);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 
    0 6px 6px rgba(225, 29, 72 , 0.5),
    0 0 100px -10px var(--clr-rose);
    transition:  0.3s;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 
    0 10px 10px rgba(225, 29, 72 , 0.252),
    0 0 120px -10px var(--clr-rose);
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

a#phone_call {
    direction: ltr;
    position: fixed;
    background: var(--clr-gold);
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 165px;
    border-radius: 50px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    padding: 5px;
    -webkit-transition: flex .3s ease-out;
    transition: flex .3s ease-out;
    overflow: hidden;
    flex: 0;
    z-index: 10
}

a#phone_call:hover {
    width: auto;
    max-width: 1000px;
    border-radius: 100px;
    padding: 8px 20px;
    flex: 1
}

a#send_mail {
    direction: ltr;
    position: fixed;
    background: var(--clr-gold);
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 90px;
    border-radius: 100px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 8px;
    -webkit-transition: flex .3s ease-out;
    transition: flex .3s ease-out;
    overflow: hidden;
    flex: 0;
    z-index: 10
}

a#whatsapp_call {
    position: fixed;
    background: #4caf50;
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 15px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 8px;
    z-index: 10
}

/*below*/
@media (min-width: 250px) {
    header{
        padding: 10px 10px;
    }

    .navigaton-item-home{
        font-weight: 600;
        font-size: 0.5em;
        margin-left: 0.5rem;
    }

    .logo{
        width: 50px;
    }

    a#phone_call{
        width: 20px;
        height: 20px;
        font-size: 10px;
        right: 20px;
        bottom: 65px;
    }
    a#phone_call:hover {
        width: auto;
        max-width: 1000px;
        border-radius: 100px;
        padding: 8px 20px;
        flex: 1
    }

    a#send_mail{
        width: 20px;
        height: 20px;
        font-size: 8px;
        bottom: 40px;
    }

    a#whatsapp_call{
        width: 20px;
        height: 20px;
        font-size: 8px;
        bottom: 15px;
    }


    .footer-box {
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        margin-top: 1rem;
        margin-inline-start: 1rem;
        margin-inline-end: 1rem;
    }
    
    .footer-area-top {
        padding-top: 1px;
        padding-bottom: 1px;
    }
    
    .footer_icon {
        margin-top: 0;
    }
    
    .title-bar-footer {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: var(--clr-dark);
    }

    .title-bar-footer h3{
        font-size: 1em;
    }
    
    .footer-area-bottom {
        color: var(--clr-light);
    }

    .footer-area-bottom p{
        font-size: 1em;
    }

}
 /*xs*/

/*xs*/
@media (min-width: 475px) {
    header{
        padding: 10px 25px;
    }
    .container {
        max-width: 475px;
    }
}
 /*xs*/

/* sm */
 @media (min-width: 640px) {
    header{
        padding: 10px 50px;
    }
    .container {
        max-width: 640px;
    }
 }
/* sm */

/*md*/
@media (min-width: 768px) {
    header{
        padding: 10px 75px;
    }
    .container {
        max-width: 768px;
    }
}
/*md*/

/*lg*/
@media (min-width: 1024px) {
    header{
        padding: 10px 100px;
    }
    .container {
        max-width: 1024px;
    }
    .section{
        margin-top: 5rem;
    }
}
/*lg*/

/* xl */
@media (min-width: 1288px){
    .container {
        max-width: 1288px;
    }
}

/* 2xl */
@media (min-width: 1536px){
    .container {
        max-width: 1536px;
    }
}