/*css variables*/
:root{
    /*main colors*/
    --clr-dark: #070a13;
    --clr-light: #f1f5f9;
    --clr-slate300:#cbd5e1;
    --clr-slate400 : #94a3b8;
    --clr-slate600 : #475569;
    --clr-slate800 : #1e293b;
    /*rose rgb 225 29 72*/
    /*indigo rgb 79 70 229*/
    --clr-indego : #4f46e5;
    --clr-blue: #1e40af; /*blue 800*/
    --clr-gold : #f59e0b; /*amber 500*/

    /*sizes*/
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


*{
    margin: 0;
    line-height: calc(1em + 0.5rem);

}

html{
    scroll-behavior: smooth;
}

.light-mode{
    --clr-light: #070a13;
    --clr-dark: #f1f5f9;
    --clr-slate400 : #1e293b;
    --clr-slate600 : #1e293b;
    --clr-slate800 : #1e293b;
}

body {
    /*font from font share website*/
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

main {
    min-height: 60vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button{
    display: inline-block;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-gold);
}

strong {
    color: var(--clr-indego);
}

a#phone_call {
    direction: ltr;
    position: fixed;
    background: var(--clr-gold);
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 165px;
    border-radius: 50px;
    font-size: 28px;
    color: #fff;
    text-align: center;
    padding: 5px;
    -webkit-transition: flex .3s ease-out;
    transition: flex .3s ease-out;
    overflow: hidden;
    flex: 0;
    z-index: 10
}

a#phone_call:hover {
    width: auto;
    max-width: 1000px;
    border-radius: 100px;
    padding: 8px 20px;
    flex: 1
}

a#send_mail {
    direction: ltr;
    position: fixed;
    background: var(--clr-gold);
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 90px;
    border-radius: 100px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 8px;
    -webkit-transition: flex .3s ease-out;
    transition: flex .3s ease-out;
    overflow: hidden;
    flex: 0;
    z-index: 10
}

a#whatsapp_call {
    position: fixed;
    background: #4caf50;
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 15px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding: 8px;
    z-index: 10
}
